* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  list-style: none;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #121212;
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #f2eaea;
    width: 200px;
    box-shadow: 0 8px 16px rgba(210, 203, 203, 0.2);
  }

  .nav-links li {
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}
