* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  color: rgb(37, 37, 37);
}

/* utility classes */
h3 {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  font-weight: 600px;
}
h1 {
  font-size: 28px;
  font-weight: 900px;
}
/* home page  */

/* navigation bar  */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: rgb(173 188 195);
  box-shadow: 0px 5px 20px rgba(138, 138, 138, 0.836);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.brand-logo {
  width: 180px;
  background-color: rgb(173 188 195);
}
.nav-links {
  display: flex;
}
.nav-links li {
  list-style: none;
  padding: 0px 35px;
  position: relative;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(63, 63, 63);
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s ease;
}
.nav-links li a:hover,
.nav-links li a.active {
  color: rgb(10, 136, 145);
}

.nav-links li a.active::after,
.nav-links li a:hover::after {
  content: "";
  width: 30%;
  height: 1.5px;
  background-color: rgb(10, 136, 145);
  position: absolute;
  bottom: -2px;
  left: 35px;
}
.nav-links i {
  color: black;
}

/* hero section */
.hero {
  background-image: url("https://plus.unsplash.com/premium_photo-1663089101206-42c224a353da?q=80&w=1536&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: top 20% left 20%;
  min-height: 80vh;
  padding: 0px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 10px;
}
.hero h1 {
  /* color: rgb(6, 93, 255); */
  color: rgb(10, 136, 145);
}
.hero button {
  background-color: rgb(22, 173, 85);
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(3, 112, 30);
  border-radius: 20% 50% 50% 20%;
  border: 0;
}

/* feature section  */

.features {
  margin: 60px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.feature-box {
  width: 15%;
  height: 190px;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(196, 195, 195, 0.699);
  padding: 10px 0px;
  border: 0.5px solid rgb(192, 192, 192);
  border-radius: 4px;
  transition: 0.3s ease;
}
.feature-box:hover {
  box-shadow: 15px 10px 10px 10px rgba(156, 156, 156, 0.699);
}

.feature-box img {
  width: 60%;
  height: 60%;
  margin: 2px 4px;
}
.feature-box img:hover {
  scale: 1.025;
}
.feature-box h5 {
  margin-top: 18px;
  background-color: rgb(252, 125, 184);
  /* width: 50%; */
  padding: 6px;
  border-radius: 4px;
}
.feature-box :nth-child(3) h5 {
  background-color: rgb(13, 129, 133);
}

/* feaured products */

.featured-products {
  text-align: center;
  margin: 10px 10px;
}
.featured-wrapper {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.featured-card {
  display: flex;
  flex-direction: column;
  flex-basis: 22%;
  margin: 10px 0px;
  border: 1.5px solid rgb(199, 199, 199);
  border-radius: 10px;
}
.featured-card img {
  margin: 10px 0px;
  width: 90%;
  align-self: center;
  /* height: 45%; */
}
.description {
  margin: 10px 20px;
  text-align: left;
}
.price {
  font-size: 1.5rem;
  color: rgba(9, 99, 9, 0.89);
}
.rating i {
  padding: 5px 2px;

  color: rgb(255, 239, 9);
}

/* banner */

.banner {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20220914/pngtree-background-orange-sale-promotion-gift-balloon-image_1464409.jpg");
  display: flex;
  background-size: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  margin: 10px 0px;
  row-gap: 10px;
}
.banner h2 span {
  color: rgb(9, 143, 91);
}
.explore-btn {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}
.explore-btn:hover {
  background-color: rgb(9, 143, 91);
  color: white;
  cursor: pointer;
}
.small-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 40px;
}
.banner-box {
  background-image: url("https://img.freepik.com/premium-photo/beautiful-young-asian-woman-carrying-shopping-bags-looking-surprised-happy-isolated-yellow-banner-background-with-copy-space_126277-915.jpg?size=626&ext=jpg");
  background-size: cover;
  /* flex-basis: 45%; */
  padding: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  width: 47%;
  height: 50vh;
  font-weight: 700;
}
.box2 {
  background-image: url("https://previews.123rf.com/images/vgstudio/vgstudio1906/vgstudio190600008/124388451-shopping-woman-happy-excited-girl-in-green-dress-holding-bags-yellow-color-background-copy-space-for.jpg");
}
.banner-box button {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
}
.banner-box button:hover {
  background-color: rgb(9, 143, 91);
  color: white;
  cursor: pointer;
}
.banner-sm-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 40px;
}
.box {
  background-image: url("");
  background-size: cover;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 10px;
  min-width: 250px;
  color: white;
  height: 40vh;
  font-weight: 700;
}
.ban1 {
  background-image: url("https://media.istockphoto.com/id/629771548/photo/surprised-happy-beautiful-woman-looking-sideways-in-excitement-isolated.jpg?s=612x612&w=0&k=20&c=FFR2LYsEyUaeg-wmufldaw3kFq15czQr9FKcaEeYVtw=");
}
.ban2 {
  background-image: url("https://assets.gqindia.com/photos/5cdc6032e994c8ee73b68f52/1:1/w_1080,h_1080,c_limit/wedding-outfits-top-image.jpg");
}
.ban3 {
  background-image: url("https://i.pinimg.com/originals/b8/01/d8/b801d86dcd8f8cfb3086a906fe72fef8.jpg");
}
.newsletter {
  display: flex;
  margin: 20px 40px;
  /* width: 100%; */
  flex-wrap: wrap;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://as2.ftcdn.net/v2/jpg/05/17/30/81/1000_F_517308164_xq0aEyQSdee8PICp6XHyZZexm1jClUJB.jpg");
  color: white;
  background-size: cover;
}
.newsletter-text h3 span {
  color: rgb(77, 63, 17);
}
.newsletter-form {
  flex-basis: 80%;
  margin: 10px 0px;
}
.newsletter-form form {
  display: flex;
  width: 100%;
}
.newsletter-form form input {
  padding: 4px;
  width: 100%;
  border-radius: 4px;
  outline: none;
  border: transparent;
}
.submit-btn {
  padding: 5px 15px;
  border-radius: 5px;
  margin: 0px 2px;
  border: 1px solid rgb(255, 255, 255);

  background-color: rgb(9, 143, 91);
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.submit-btn:hover {
  background-color: rgb(9, 143, 91);
  color: white;
  cursor: pointer;
}
.footer {
  margin: 20px 40px;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  color: grey;
}
.footer li,
p {
  list-style: none;
}
.footer li:hover {
  color: rgb(9, 143, 91);
}
.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.icons {
  display: flex;
  font-size: 16px;
  column-gap: 8px;
}
.icons :hover {
  color: rgb(9, 143, 91);
}
.playstore {
  width: 120px;
}
.payment {
  width: 160px;
}
.copyright {
  color: grey;
  text-align: center;
  margin-bottom: 20px;
}

/* shop page */
.shop-hero {
  background-image: url("https://t4.ftcdn.net/jpg/03/05/29/67/360_F_305296774_CYiMv2y87U27SoKT2o2OZFWzUzF8JPrL.jpg");
  height: 70vh;
  background-size: cover;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shop-btn {
  background-color: rgb(9, 143, 91);
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: rgb(0, 0, 0);

  border: 0;
}
.shop-btn:hover {
  background-color: rgb(7, 73, 48);
  color: white;
}
.paging {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: rgb(9, 143, 91);
  color: white;
  margin: 10px 5px;
  font-weight: 600;
}
.paging a:hover {
  background-color: rgb(7, 73, 48);
}

/* product description */
.product-details {
  padding: 10px 20px;
  margin: 10px 10px;
  display: flex;
}
.product-pics {
  width: 40%;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.sm-img {
  flex-basis: 24%;
  cursor: pointer;
}
.pro-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 40px 60px;
}
.pro-description select {
  width: 20%;
  padding: 6px;
}
.selector input {
  width: 10%;
  padding: 8px;
  margin-right: 30px;
}
.selector button {
  background-color: rgb(9, 143, 91);
  color: white;
  padding: 8px 10px;
  border: none;
}
.selector button:hover {
  background-color: rgb(7, 73, 48);
}
.details {
  font-size: large;
  width: 80%;
}

/* about page */
.about-hero {
  background-image: url("https://img.freepik.com/premium-vector/about-us-website-banner-concept-with-thin-line-flat-design_56103-96.jpg");
  height: 60vh;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-company {
  display: flex;
  margin: 10px 20px;
}
.img-section {
  width: 40%;
  margin: 10px;
}
.about-img {
  width: 100%;
}
.about-description {
  width: 50%;
  margin: 20px;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.about-description p {
  margin: 10px 0px;
}

/* contact page */

.contact-hero {
  background-image: url("https://aquaclearsolution.com/wp-content/uploads/2020/12/contactus_banner.jpg");
  height: 60vh;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.find-us {
  margin: 20px 30px;

  display: flex;
  justify-content: space-between;
}
.contacts {
  margin: 40px 50px;
  width: 40%;
  line-height: 40px;
}
.contacts li {
  list-style: none;
  color: grey;
}
.map {
  width: 50%;
}
.contact-form {
  margin: 20px 30px;
  text-align: center;
  border: 1px solid grey;
  padding: 20px 0px;
}
.query {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  row-gap: 12px;
  justify-content: center;
  align-items: center;
}
.query input,
textarea {
  font-size: medium;
  padding: 15px;
  width: 60%;
}
.query button {
  width: 80px;
  padding: 10px;
  font-size: large;
  color: white;
  background-color: rgb(9, 143, 91);
  border: none;
  border-radius: 4px;
}

.query input:hover {
  border: 1px solid green;
}

/* cart page */
.cart-hero {
  background-image: url("https://www.shutterstock.com/image-photo/trendy-beautiful-young-asian-woman-600nw-1590685858.jpg");
  height: 60vh;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart-table {
  width: 95%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
  margin: 20px 20px;
}
.cart-table img {
  width: 80px;
}
.cart-table td:nth-child(1) {
  width: 150px;
  text-align: center;
}
.cart-table td:nth-child(2) {
  width: 250px;
  text-align: center;
}
.cart-table td:nth-child(3),
.cart-table td:nth-child(4),
.cart-table td:nth-child(5),
.cart-table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
.cart-table td:nth-child(4) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}
.cart-table table thead {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}
.cart-table table thead td {
  text-transform: uppercase;
  padding: 2px;
  font-size: 13px;
  font-weight: 600;
}

.cart-table table tbody tr td {
  padding-top: 10px;
  border-bottom: 1px solid rgb(97, 93, 93);
}
.checkout {
  display: flex;
  margin: 10px 20px;
  flex-wrap: wrap;
}
.coupon {
  width: 45%;
  margin: 10px;
}
.coupon input {
  padding: 10px;
  margin: 10px 0px;
  width: 60%;
}
.coupon button,
.proceed-btn {
  background-color: rgb(9, 143, 91);
  border: none;
  color: white;
  width: 100px;
  font-weight: 600;
  font-size: medium;
  padding: 10px;
}
.proceed-btn {
  background-color: rgb(9, 143, 91);
  border: none;
  color: white;
  width: 100%;
  font-weight: 600;
  font-size: medium;
  padding: 10px;
}
.bil {
  width: 50%;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}
.bill table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0px;
}
.bill table tr {
  width: 50%;

  border: 1px solid black;
}
.bill table td {
  width: 50%;
  padding: 5px;
  border: 1px solid black;
}

/* //media querry */
@media screen and (max-width: 480px) {
  .body {
    overflow-x: hidden;
  }

  .hero {
    background-position: top 10% left 50%;
  }
  nav {
    padding: 0;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    top: 0;
    right: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: grey;
    box-shadow: 0 40px 60px black;
    padding: 80px 0px 0 10px;
  }
  .features {
    flex-direction: column;
    margin: 10px;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .feature-box {
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
  }
  .featured-card {
    width: 100%;
    /* flex-direction: column; */
    justify-content: center;
  }
  .newsletter {
    align-items: center;
    width: 100%;
    /* overflow-x: hidden; */
    margin: 0;
    flex-direction: column;
  }
  .newsletter form input {
    width: 100%;
  }
  .footer {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }
  .featured-wrapper {
    flex-direction: column;
  }
  .featured-card .description {
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
  }
  .banner {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .small-banner {
    flex-direction: column;
  }
  .banner-box {
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: auto;
    background-size: cover;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px;
    padding: 0;
  }
  .product-pics {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .pro-description {
    width: 100%;
    padding: 0;
    margin: 20px;
  }
  .details {
    width: 90%;
  }
  /* about page */

  .about-hero {
    color: black;
  }
  .about-company {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 10px;
  }
  .img-section {
    width: 100%;
    margin: 10px;
  }
  .about-img {
    width: 90%;
  }
  .about-description {
    margin: 10px 0px;
    width: 100%;
  }
  .about-description p {
    width: 90%;
  }

  /* contact page */
  .find-us {
    flex-direction: column;
  }
  .contacts {
    width: 100%;
    margin: 10px;
    padding: 0;
  }
  .map,
  .map iframe {
    /* margin: 10px; */
    width: 100%;
  }
  .contact-form {
    width: 100%;
    /* margin: 10px; */
    margin: 0;
    padding: 0;
  }
  .query {
    width: 100%;
    padding: 0;
  }
  .query input,
  textarea {
    width: 90%;
  }
  /* cart page */
  .cart-hero {
    height: 40vh;
  }

  .cart-table table {
    overflow-x: auto;
    white-space: nowrap;
    display: block;
  }
  .coupon {
    width: 100%;
  }
  .coupon div input {
    width: 70%;
  }
  .bill {
    width: 100%;
  }
}
